<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gogoalfitness">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoGoalFitness">
        <activity
            android:name=".ArmExerciseDescActivity"
            android:exported="false"
            android:parentActivityName=".ArmActivity"/>
        <activity
            android:name=".ArmActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity"/>
        <activity
            android:name=".ChestExerciseDescActivity"
            android:exported="false"
            android:parentActivityName=".ChestActivity" />
        <activity
            android:name=".ChestActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".LegExerciseDescActivity"
            android:exported="false"
            android:parentActivityName=".LegActivity" />
        <activity
            android:name=".LegActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".ShoulderExerciseDescActivity"
            android:exported="false"
            android:parentActivityName=".ShoulderActivity" />
        <activity
            android:name=".ShoulderActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity"/>
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.GoGoalFitness.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>